ion-title h1 {
  margin: 0;
  padding: 8px 0;
  text-align: center;
}

.results-container {
  margin-top: 20px;
}

.date-results-list {
  border: 5px solid red;
  border-radius: 4px;

  .result {
    --color: blue;
  }

  .result-label {
    font-weight: bold;
    margin-right: 5px;
  }

  .result-value {
    font-style: italic;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
